* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;   
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
:root {
    --header-bg: #10375C;
}
/* Common */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border: 1px solid #2E80CE;
    border-radius: 9999px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--height);
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.section-desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6667;
}
.control {
    display: flex;
    column-gap: 18px;
}
.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #575F66;
    border: 1px solid #575F66;
    outline: none;
}
.control__btn:hover {
    color: #FFF;
    border-color: #2E80CE;
    background-color: #2E80CE;
    transition: 0.25s;
}
.control__icon-next {
    rotate: 180deg;
}
/* Header */
.header {
    min-height: 100vh;  
    background-color: var(--header-bg);
    padding-bottom: 110px;
}
.logo {
    position: relative;
    display: flex;
    align-items: center ;
    font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2E80CE;
}
.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #FFFFFF;
}
.logo__text {
    margin-left: 0.6em;
}
.logo__brand {
    display: block;
    color: #FFF;
    font-family: Sora;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1em;
}
.logo__brand--small {
    font-size: 1.4em;
    font-weight: 300;
    text-align: right;
}
.header-top {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__link,
.header-action__login {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 21px;
}
.navbar__link:hover,
.navbar__link--active,
.header-action__login:hover {
    position: relative;
    color: #FFFFFF;
    text-shadow: 1px 0 0 currentColor;
}
.header-action {
    display: flex;
    align-items: center;
}
.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #FFF;
    border-radius: 50%;
}
.header-action__signup {
    --height: 44px;
    min-width: 104px;
    margin-right: 7px;
}
/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 84px;
}
.hero__content {
    width: 44%;
}
.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.1429;
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6667;
}
.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667;
}
.hero__media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}
.hero__img:last-child {
    width: 210px;
    height: 410px;
}
/* Service */
.service {
    padding-top: 170px;
}
.service__heading {
    text-align: center;
}
.service__desc {
    margin:0px auto;
    width: 468px;
    text-align: center;
}
.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.service-item {
    display: flex;
    align-items: start;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #FFF;
}
.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}
.service-item:hover .service-item__icon-wrap {
    color: #FFF;
    background-color: #2E80CE;
    transition: 0.5s;
}
.service-item__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    color: #10375C;
    background-color: #EFF6FD;
}
.service-item__body {
    margin-left: 20px;
}
.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.service__list {
    margin-bottom: 75px;
}
/* How it work */
.work {
    background-color: #F6FBFF;
    padding: 100px 0;
}
.work-list {
    display: flex;
}
.work-desc {
    width: 468px;
}
.work-list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.work-item {
    padding: 43px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
}
.work-item:hover {
    transform: translateY(-16px);
    border-color: #2E80CE;
    transition: 0.25s;
}
.work-item__heading {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.3846;
}
.work-item__desc {
    margin-top: 28px;
    width: 254px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.work__more {
    margin-top: 18px;
    display: inline-block;
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
/* Feature */
.feature {
    padding: 170px 0 85px;
}
.feature__media {
    width: 48%;
}
.feature__images{
    position: relative;
    padding: 0 58px 121px 0;
}
.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 16px;
}
.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}
.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.feature__cta {
    margin-top: 38px;
}
.feature__desc {
    margin-top: 18px;
}
/* Member */
.member {
    padding: 85px 0px;
}
.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member__cta {
    margin-top: 38px;
}
.member__list {
    margin-top: 38px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background-color: #EAF6FF;
    overflow: hidden;
}
.member-item__img-thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}
.member-item__name {
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75;
}
.member-item__title {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.857;
}
.member__control {
    margin-top: 38px;
    justify-content: center;
}
/* Install */
.install {
    padding-top: 180px;
}
.install__inner {
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #2E80CE;

}
.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}
.install__content {
    max-width: 586px;
}
.install__heading {
    color: #FFF;
    max-width: 489px;
}
.install__desc {
    margin-top: 18px;
    color:#FFF;
    max-width: 586px;
    font-weight: 300;
}
.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}
/* News */
.news {
    margin-top: 85px;
    padding: 85px 0;
}
.news__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__content {
    flex-shrink: 0;
}
.news__heading {
    max-width: 470px;
}
.news__more {
    display: inline-block;
    margin-top: 28px;
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}
.news__control {
    margin-top: 28px;
}
.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}
.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}
.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.news-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
}
.news-item__body {
    background-color: #FFF;
    border: 1px solid #E8EBEE;
    border-top: none;
    padding: 24px;
    border-radius: 0 0 12px 12px;
}
.news-item__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.625;
}
.news-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7429;
}
.news-item__more {
    display: inline-block;
    margin-top: 12px;
    color: #10375C;
    font-size: 1.4rem;
    font-weight: 400;
}
.news-item__more:hover {
    transform: translateY(-2px);
    color:#2E80CE;
    transition: 0.25s;
}
/* Appointment */
.appointment {
    padding: 100px 0 170px;
}
.appointment__inner {
    padding: 100px 0;
    text-align: center;
    background: #F6FBFF;
}
.appointment__heading {
    position: relative;
    padding: 18px;
}
.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: #2E80CE;
}
.appointment__desc {
    margin: 18px auto;
    width: 617px;
    text-align: center;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.apointment__btn {
    margin-top: 38px;
}
/* Footer */
.footer {
    font-family: "Open Sans";
    padding: 100px 0 0;
    background: #10375C;
}
.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}
.footer__desc {
    padding-top: 21px;
    color: #A9B3BB;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.footer__heading {
    color: #FFF;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.footer__list {
    margin-bottom: 28px;
}
.footer__link {
    color: #A9B3BB;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857;
    white-space: nowrap; 
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__item {
    margin-bottom: 10px;
}
.footer__social {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}
.footer__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#2E80CE;
    background-color: #FFF;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.footer-form {
    margin-top: 10px;
    display: flex;
    column-gap: 12px;
}
.footer-from__input {
    width: 212px;
    height: 46px;
    outline: none;
    color: #FFF;
    border: 1px solid #406181;
    border-radius: 4px;
    background-color: transparent;
    padding: 0px 10px;
}
.footer-form__input::placeholder {
    color: #9CA8B1;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857;
}
.footer__submit {
    min-width: 108px;
    border-radius: 4px;
    --height: 46px;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
.footer__copyright {
    border-top: 1px solid #406181;
    padding: 28px 0 42px;
    text-align: center;
}
.footer__copyright-text {
    color: #AAB3BA;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857;
}